body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.converter {
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: burlywood;
    color: black;
    cursor: pointer;
}

button:hover {
    background-color:goldenrod;
}

.result {
    margin-top: 20px;
}

